Repository SurfLocal/SurfLocal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SurfLocal/all-members, @robronayne, @SurfLocal/infra, @SurfLocal/backend

.github/CODEOWNERS:

# Global owners
* @SurfLocal/all-members

# ----------------- #
# Code Owner Update #
# ----------------- #
/.github/CODEOWNERS @robronayne
/.github/required-reviewers.yml @robronayne

# -------------- #
# Ansible owners #
# -------------- #
/ansible/ @SurfLocal/infra

# ----------- #
# Helm owners #
# ----------- #
/helm/prometheus @SurfLocal/infra

# --------------- #
# Database owners #
# --------------- #
/postgres @SurfLocal/infra @SurfLocal/backend

# ------------------- #
# Web-scraping owners #
# ------------------- #
/web-scraping/ @SurfLocal/backend

feat(docker): update dockerfile to build with workflow
  web-scraping/web_scraper.Dockerfile
Owners: @SurfLocal/backend

feat(workflows): add docker build, tag, and push job
  .github/workflows/docker-build.yml
Owners: @SurfLocal/all-members

feat(docs): update README for web-scraping directory
  web-scraping/README.md
Owners: @SurfLocal/backend

feat(python): update scripts to incorporate boto3 logging
  web-scraping/jobs/swell_scraper_hourly.py
  web-scraping/jobs/utils/logger.py
  web-scraping/jobs/wind_scraper_hourly.py
Owners: @SurfLocal/backend

feat(docker): update image to include s3 dependencies
  web-scraping/requirements.txt
  web-scraping/web_scraper.Dockerfile
Owners: @SurfLocal/backend

feat(workflows): update docker workflow to include minio params
  .github/workflows/docker-build.yml
Owners: @SurfLocal/all-members

feat(workflows): update logging for postgres connection class
  web-scraping/jobs/swell_scraper_hourly.py
  web-scraping/jobs/utils/postgres_connection.py
  web-scraping/jobs/wind_scraper_hourly.py
Owners: @SurfLocal/backend

feat(libs): update postgres connection to omit logger check
  web-scraping/jobs/utils/postgres_connection.py
Owners: @SurfLocal/backend

feat(minio): add minio deployment to handle log storage on SSD
  argo-workflows/charts/minio/Chart.yaml
  argo-workflows/charts/minio/templates/deployment.yaml
  argo-workflows/charts/minio/templates/secret.yaml
  argo-workflows/charts/minio/templates/storage.yaml
  argo-workflows/charts/minio/values.yaml
Owners: @SurfLocal/all-members

feat(crds): add argo workflows dependencies from official github repo
  argo-workflows/crds/argoproj.io_clusterworkflowtemplates.yaml
  argo-workflows/crds/argoproj.io_cronworkflows.yaml
  argo-workflows/crds/argoproj.io_workflowartifactgctasks.yaml
  argo-workflows/crds/argoproj.io_workfloweventbindings.yaml
  argo-workflows/crds/argoproj.io_workflows.yaml
  argo-workflows/crds/argoproj.io_workflowtaskresults.yaml
  argo-workflows/crds/argoproj.io_workflowtasksets.yaml
  argo-workflows/crds/argoproj.io_workflowtemplates.yaml
  argo-workflows/crds/kustomization.yaml
Owners: @SurfLocal/all-members

feat(argo): workflow controller running successfully, holding off on UI deployment
  argo-workflows/Chart.yaml
  argo-workflows/templates/configmap.yaml
  argo-workflows/templates/controller.yaml
  argo-workflows/templates/rbac.yaml
  argo-workflows/templates/workflows/hourly.yaml
  argo-workflows/values.yaml
Owners: @SurfLocal/all-members

feat(docs): add a README for minio and argo deployments
  argo-workflows/README.md
  argo-workflows/charts/minio/README.md
  argo-workflows/charts/minio/templates/secret.yaml
  argo-workflows/templates/rbac.yaml
Owners: @SurfLocal/all-members

fix(networking): reconfigure node initial config scripts
  networking/boot_pi.sh
  networking/init_host.sh
Owners: @SurfLocal/all-members

feat(docs): add networking README
  networking/README.md
Owners: @SurfLocal/all-members

feat(ansible): add automated deployment of No-IP
  ansible/ansible.cfg
  ansible/playbooks/deploy_noip.yaml
  ansible/roles/noip/tasks/main.yaml
  ansible/roles/noip/templates/noip-duc.j2
  ansible/vars/secrets.yaml
Owners: @SurfLocal/infra

feat(postgres): change dir structure, add platform_admin user
  postgres/roles/service_accounts/argo_read.sql
  postgres/roles/service_accounts/argo_write.sql
  postgres/users/human_users/platform_admin.sql
  postgres/users/service_accounts/argo_runner.sql
Owners: @SurfLocal/infra, @SurfLocal/backend

feat(ansible): create playbook for ansible deployment
  ansible/playbooks/deploy_postgres.yaml
  ansible/roles/postgres/tasks/main.yaml
Owners: @SurfLocal/infra

feat(docs): update ansible README to include high level breakdown
  ansible/README.md
Owners: @SurfLocal/infra

feat(docs): home README overhaul, include startup referral
  README.md
Owners: @SurfLocal/all-members

fix(scripts): removal of old startup scripts
  init_ansible.sh
  setup_node.sh
Owners: @SurfLocal/all-members

fix(scripts): address linting errors
  .github/workflows/check-linting.yml
  networking/boot_pi.sh
  networking/init_host.sh
Owners: @SurfLocal/all-members

feat(ansible): update playbooks to install postgres
  .gitignore
  ansible/playbooks/deploy_cluster.yaml
  ansible/playbooks/deploy_common.yaml
  ansible/playbooks/deploy_docker.yaml
  ansible/playbooks/deploy_helm.yaml
  ansible/playbooks/deploy_kubernetes.yaml
  ansible/playbooks/deploy_node_exporter.yaml
  ansible/playbooks/deploy_postgres.yaml
  ansible/playbooks/site.yaml
  ansible/playbooks/site.yml
  ansible/roles/cluster/handlers/main.yaml
  ansible/roles/cluster/tasks/main.yaml
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/main.yaml
  ansible/roles/docker/tasks/main.yaml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/helm/tasks/main.yaml
  ansible/roles/k3s_master/tasks/main.yaml
  ansible/roles/k3s_worker/tasks/main.yaml
  ansible/roles/node_exporter/tasks/main.yaml
  ansible/roles/postgres/tasks/main.yaml
  ansible/vars/secrets.yaml
  postgres/databases/surf_analytics/database.sql
  postgres/databases/surf_analytics/schemas/ingested.sql
  postgres/databases/surf_analytics/schemas/reference.sql
  postgres/databases/surf_analytics/tables/ingested.swell_data.sql
  postgres/databases/surf_analytics/tables/ingested.wind_data.sql
  postgres/databases/surf_analytics/tables/reference.buoy_info.sql
  postgres/databases/surf_analytics/tables/reference.spot_buoy_link.sql
  postgres/databases/surf_analytics/tables/reference.spot_info.sql
  postgres/roles/service_accounts/argo_read.sql
  postgres/roles/service_accounts/argo_write.sql
  postgres/users/human_users/platform_admin.sql
  postgres/users/service_accounts/argo_runner.sql
Owners: @SurfLocal/all-members, @SurfLocal/infra, @SurfLocal/backend

feat(networking): update init scripts with improved hostname resolution
  networking/README.md
  networking/boot_pi.sh
  networking/init_host.sh
Owners: @SurfLocal/all-members

feat(prometheus): use hostnames instead of IPs for Node Exporter targets
  helm/prometheus/README.md
  helm/prometheus/templates/config.yaml
  helm/prometheus/templates/deployment.yaml
  helm/prometheus/templates/namespace.yaml
  helm/prometheus/templates/pv.yaml
  helm/prometheus/templates/pvc.yaml
  helm/prometheus/templates/service.yaml
Owners: @SurfLocal/infra

feat(argo): add namespace automation and SSD storage for MinIO
  ansible/playbooks/deploy_s3_storage.yaml
  ansible/playbooks/site.yaml
  ansible/roles/s3_storage/tasks/main.yaml
  argo-workflows/README.md
  helm/README.md
  helm/argo-workflows/Chart.yaml
  helm/argo-workflows/README.md
  helm/argo-workflows/charts/minio/Chart.yaml
  helm/argo-workflows/charts/minio/README.md
  helm/argo-workflows/charts/minio/templates/deployment.yaml
  helm/argo-workflows/charts/minio/templates/secret.yaml
  helm/argo-workflows/charts/minio/templates/storage.yaml
  helm/argo-workflows/charts/minio/templates/storageclass.yaml
  helm/argo-workflows/charts/minio/values.yaml
  helm/argo-workflows/crds/argoproj.io_clusterworkflowtemplates.yaml
  helm/argo-workflows/crds/argoproj.io_cronworkflows.yaml
  helm/argo-workflows/crds/argoproj.io_workflowartifactgctasks.yaml
  helm/argo-workflows/crds/argoproj.io_workfloweventbindings.yaml
  helm/argo-workflows/crds/argoproj.io_workflows.yaml
  helm/argo-workflows/crds/argoproj.io_workflowtaskresults.yaml
  helm/argo-workflows/crds/argoproj.io_workflowtasksets.yaml
  helm/argo-workflows/crds/argoproj.io_workflowtemplates.yaml
  helm/argo-workflows/crds/kustomization.yaml
  helm/argo-workflows/templates/configmap.yaml
  helm/argo-workflows/templates/controller.yaml
  helm/argo-workflows/templates/namespace.yaml
  helm/argo-workflows/templates/rbac.yaml
  helm/argo-workflows/templates/workflows/hourly.yaml
  helm/argo-workflows/values.yaml
Owners: @SurfLocal/infra, @SurfLocal/all-members

feat(ci): add multi-platform Docker builds for ARM64 support
  .github/workflows/docker-build.yml
Owners: @SurfLocal/all-members

feat(workflows): comprehensive test suite for web scraper jobs
  .github/workflows/docker-build.yml
  .gitignore
  helm/README.md
  helm/prometheus/README.md
  postgres/databases/surf_analytics/tables/ingested.swell_data.sql
  web-scraping/README.md
  web-scraping/jobs/swell_scraper_hourly.py
  web-scraping/jobs/tests/__init__.py
  web-scraping/jobs/tests/conftest.py
  web-scraping/jobs/tests/test_integration.py
  web-scraping/jobs/tests/test_swell_scraper_unit.py
  web-scraping/jobs/tests/test_wind_scraper_unit.py
  web-scraping/pytest.ini
  web-scraping/requirements-test.txt
Owners: @SurfLocal/all-members, @SurfLocal/infra, @SurfLocal/backend

feat(workflows): update tag and release job order
  .github/workflows/docker-build.yml
Owners: @SurfLocal/all-members

fix: address missing newline
  web-scraping/jobs/tests/__init__.py
Owners: @SurfLocal/backend

feat(coredns): map hosts to IPs within the cluster
  ansible/playbooks/deploy_coredns.yaml
  ansible/roles/coredns/tasks/main.yaml
  ansible/roles/coredns/templates/coredns-configmap.yaml.j2
Owners: @SurfLocal/infra

feat(ansible): setup prometheus exporter on posgres
  ansible/playbooks/deploy_postgres_exporter.yaml
  ansible/playbooks/site.yaml
  ansible/roles/node_exporter/tasks/main.yaml
  ansible/roles/postgres_exporter/defaults/main.yaml
  ansible/roles/postgres_exporter/tasks/main.yaml
  ansible/roles/postgres_exporter/templates/postgres_exporter.env.j2
  helm/prometheus/templates/config.yaml
Owners: @SurfLocal/infra

feat(workflows): update env var naming, incorporate coreDNS naming
  .github/workflows/docker-build.yml
  web-scraping/jobs/tests/conftest.py
  web-scraping/jobs/utils/logger.py
  web-scraping/jobs/wind_scraper_hourly.py
  web-scraping/web_scraper.Dockerfile
Owners: @SurfLocal/all-members, @SurfLocal/backend

fix(postgres): add local postgres authentication
  ansible/playbooks/deploy_postgres.yaml
  ansible/roles/postgres/tasks/main.yaml
  ansible/roles/postgres_exporter/defaults/main.yaml
  web-scraping/jobs/utils/logger.py
Owners: @SurfLocal/infra, @SurfLocal/backend

feat(minio): add automated bucket creation via Helm hooks
  helm/argo-workflows/charts/minio/values.yaml
  helm/argo-workflows/templates/minio-bucket.yaml
  helm/argo-workflows/values.yaml
Owners: @SurfLocal/all-members

refactor(helm): standardize helm templating
  helm/README.md
  helm/REFACTORING_COMPLETE.md
  helm/REFACTORING_STATUS.md
  helm/STANDARDS.md
  helm/argo-workflows/Chart.yaml
  helm/argo-workflows/README.md
  helm/argo-workflows/charts/minio/Chart.yaml
  helm/argo-workflows/charts/minio/README.md
  helm/argo-workflows/charts/minio/templates/_helpers.tpl
  helm/argo-workflows/charts/minio/templates/deployment.yaml
  helm/argo-workflows/charts/minio/templates/secret.yaml
  helm/argo-workflows/charts/minio/templates/storage.yaml
  helm/argo-workflows/charts/minio/templates/storageclass.yaml
  helm/argo-workflows/charts/minio/values.yaml
  helm/argo-workflows/templates/NOTES.txt
  helm/argo-workflows/templates/_helpers.tpl
  helm/argo-workflows/templates/configmap.yaml
  helm/argo-workflows/templates/controller.yaml
  helm/argo-workflows/templates/minio-bucket.yaml
  helm/argo-workflows/templates/namespace.yaml
  helm/argo-workflows/templates/rbac.yaml
  helm/argo-workflows/templates/workflows/hourly.yaml
  helm/argo-workflows/values.yaml
  helm/prometheus/Chart.yaml
  helm/prometheus/README.md
  helm/prometheus/templates/NOTES.txt
  helm/prometheus/templates/_helpers.tpl
  helm/prometheus/templates/config.yaml
  helm/prometheus/templates/deployment.yaml
  helm/prometheus/templates/namespace.yaml
  helm/prometheus/templates/pv.yaml
  helm/prometheus/templates/pvc.yaml
  helm/prometheus/templates/service.yaml
  helm/prometheus/values.yaml
Owners: @SurfLocal/all-members, @SurfLocal/infra

refactor(helm): further refactoring, clean deployments
  helm/REFACTORING_COMPLETE.md
  helm/REFACTORING_STATUS.md
  helm/argo-workflows/.crds/argoproj.io_clusterworkflowtemplates.yaml
  helm/argo-workflows/.crds/argoproj.io_cronworkflows.yaml
  helm/argo-workflows/.crds/argoproj.io_workflowartifactgctasks.yaml
  helm/argo-workflows/.crds/argoproj.io_workfloweventbindings.yaml
  helm/argo-workflows/.crds/argoproj.io_workflows.yaml
  helm/argo-workflows/.crds/argoproj.io_workflowtaskresults.yaml
  helm/argo-workflows/.crds/argoproj.io_workflowtasksets.yaml
  helm/argo-workflows/.crds/argoproj.io_workflowtemplates.yaml
  helm/argo-workflows/.crds/kustomization.yaml
  helm/argo-workflows/Chart.yaml
  helm/argo-workflows/charts/minio/Chart.yaml
  helm/argo-workflows/charts/minio/templates/deployment.yaml
  helm/argo-workflows/charts/minio/templates/secret.yaml
  helm/argo-workflows/charts/minio/templates/storage.yaml
  helm/argo-workflows/charts/minio/templates/storageclass.yaml
  helm/argo-workflows/charts/minio/values.yaml
  helm/argo-workflows/templates/minio-bucket.yaml
  helm/prometheus/Chart.yaml
  helm/prometheus/values.yaml
Owners: @SurfLocal/all-members, @SurfLocal/infra

feat(docs): update helm docs
  helm/README.md
  helm/argo-workflows/README.md
  helm/prometheus/README.md
Owners: @SurfLocal/all-members, @SurfLocal/infra

fix: remove empty NOTES.txt
  helm/prometheus/templates/NOTES.txt
Owners: @SurfLocal/infra

feat(docs): update all READMEs to reflect current codebase state
  README.md
  ansible/README.md
  web-scraping/README.md
Owners: @SurfLocal/all-members, @SurfLocal/infra, @SurfLocal/backend

feat: add issue templates for bug reports, features, infrastructure, and data issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/data_issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/infrastructure_issue.md
Owners: @SurfLocal/all-members
